<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
</head>

<body>
    
    <div id="app" >
            <div style="align-content: center;margin: auto;text-align: center;">
                <div >
                    <label>
                        用户名:    
                    </label>
                    <input type="text" v-model="user">
                </div>
                <div>
                    <label>
                        密码:
                    </label>
                    <input type="password" v-model="psw">
                </div>
                <input type="button" value='提交' @click='login'>
      
            </div>
         <input type="button" value='toben' @click='check'>
         
   </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                user:'',
                psw:'',
            },
            methods: {
                login(){
                    var data={"user":this.user,"psw":this.psw}
                     this.$http.post('/',data=data).then(res=>{
                     sessionStorage['token']=res.body
                     
                    
                     })
                },
                check(){
                    this.$http.post('/admin',data=sessionStorage.getItem('token')).then(res=>{
                        console.log(res.body)
                   
                    })
                        
                    
                }
            }
        });
    </script>
</body>

</html>
